body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364); /* <-- wybierz swój */
  color: #f5f5f5;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-image: url(images/jeremy-perkins-uhjiu8FjnsQ-unsplash.jpg);
  
}
header {
  background-color: #474747c7;
  border-bottom: 2px solid #ccc;
  padding: 10px 0;
  color:gold;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1800px;
  margin: 0 0;
  padding: 0 20px;
 
}

.logo img {
  height:100px;
  width:auto;
  display: flex;
  justify-content: center;
  align-items: center;

  
}

/* Tekst nagłówka */
header h1 {
  font-size: 30px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  flex: 1;
}

.social-buttons {
  display: flex;
  gap: 10px;
}

.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #eee;
  color: #333;
  font-size: 18px;
  transition: background 0.3s ease;
}

.social-btn.instagram:hover {
  background-color: #E1306C;
  color: white;
}

.social-btn.facebook:hover {
  background-color: #3b5998;
  color: white;
}
.user-actions {
  display: flex;
  gap: 15px;
  align-items: center;
}

.icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #eee;
  color: #333;
  font-size: 18px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.icon-btn:hover {
  background-color: #d4f713;
  color: white;
}


/* Nawigacja */
nav {
  background-color: #000000;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  margin: 0;
  
  
}
nav ul li a {
  padding: 10px 20px;
  transition: background 0.3s;
}



nav li {
  margin: 0 100px;
  
  
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  
}

nav a:hover {
  text-decoration: none;
  color:gold;
}

/* Główna sekcja */
main {
  padding: 20px;
  background-color: #fff;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-image: url('images/siłka.jfif');
  background-position: center;   /* wyśrodkowanie */
  background-repeat: no-repeat;
  

}
.kontener {
  height: 300px;
  background-image: url(images/weights-exercise-weightlifter-strong-athletic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  color: rgb(231, 19, 19);
  font-size: 4rem;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5); /* ciemne tło pod tekstem */
  padding: 20px 40px;
  border-radius: 10px;
 
  
}
.chmurka {
  background: rgba(0, 0, 0, 0.7);
  color: rgb(134, 17, 17);
  padding: 20px 40px;
  border-radius: 20px;
  font-size: 2rem;
  text-align: center;
  text-shadow: 0 2px 10px rgba(0,0,0,0.7);
  text-decoration: none;
  border:none !important;
  
}
.btn-start {
  display: inline-block;
  background: linear-gradient(135deg, #1f1c2c, #928dab);
  color: #fff;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border:none !important;
  outline: none;
  

}

.btn-start:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}
  
.content {
  max-width: 1300px;
  margin:  auto;
  padding: 10px;
  line-height: 1.8;
  font-size: 18px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  background-color: #333;
  background: linear-gradient(to bottom, #444, #222);
  font-family:Georgia, 'Times New Roman', Times, serif;
  
}
.content h1  {
  margin-bottom: 50px;
  text-align: center;
  color:white;

}
.content h3 {
  margin-bottom: 50px;
  text-align: center;
  color:white;
}
.content p {
  margin-top: 20px;
  font-style: italic;
}
.poradniki {
  text-align:center;
  background-color: #333;
  color: #ffffff;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.galeria {
  display: flex;
  flex-wrap: wrap; /* Złamie do nowej linii jeśli potrzeba */
  justify-content: center;
  gap: 40px;
  padding: 40px;
}

.box {
  width: 300px;
  text-align: center;
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  text-decoration: none;
}

.box:hover {
  transform: scale(1.05);
}

.box img {
  width: 80%;
  height: 50%;
  border-radius: 10px;
}

.box h2 {
  font-size: 1.2rem;
  margin-top: 15px;
  color: #333;
}
.Dieta h1 {
  text-align: center;
  background-color: #333;
  color:#ffffff;

}
.szamka {
  display: flex;
  flex-wrap: wrap; /* Złamie do nowej linii jeśli potrzeba */
  justify-content: center;
  gap: 40px;
  padding: 40px;
}

.dietki{
  width: 300px;
  text-align: center;
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  text-decoration: none;
  
}

.dietki:hover {
  transform: scale(1.05);
}

.dietki img {
  width: 70%;
  height: 65%;
  border-radius: 10px;
}

.dietki h2 {
  font-size: 1.2rem;
  margin-top: 15px;
  color: #333;
}
.plansy {
  display: flex;
  flex-wrap: wrap; /* Złamie do nowej linii jeśli potrzeba */
  justify-content: center;
  gap: 40px;
  padding: 40px;
}
.boxik {
  width: 300px;
  text-align: center;
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  text-decoration: none !important;
  
}


.boxik:hover {
  transform: scale(1.05);
  
 
}

.boxik img {
  width: 100%;
  height: 80%;
  border-radius: 10px;
  
}

.boxik h2 {
  font-size: 1.2rem;
  margin-top: 15px;
  color: #333;
  
}
.section {
  background: rgba(255, 255, 255, 0.05);
  padding: 40px;
  border-radius: 20px;
}
/* Stopka */
footer {
  
  text-align: center;
  padding: 3px;
  background-color: #333;
  color: #fff;
  
}
@media (max-width: 768px) {
  .box, .dietki, .boxik {
    width: 100%;   /* Pełna szerokość dla mniejszych ekranów */
  }
}
.search-box {
  position: relative;
  width: 100%;
  max-width: 200px;
  margin-top: -70px;
  margin-left: 1200px;

  
}

.search-box input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 10px;
  
 
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: gray;
  
}

.exercise {
  padding: 10px;
  margin-bottom: 5px;
  background-color: #421616;
  border-radius: 8px;
  font-size: 18px;
}
